body {
    margin: 0;
    background: rgb(20, 20, 20);
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 8px;
}